<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Vuelos</title>
<link rel="stylesheet" type="text/css" href="static/estilos/estilo.css">
</head>
<body>

	<header class="encabezado">
		<h1>Web de reservas de viajes a Menorca</h1>
		<nav class="menu">
			<ul>
				<li><a href="/inicio">Inicio</a></li>
				<li><a href="/reservas">Reservas</a></li>
				<li><a href="/vuelos">Vuelos</a></li>
				<li><a href="/hoteles">Hoteles</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<table>
				<thead>
					<tr>
						<th>ID HOTEL</th>
						<th>NOMBRE</th>
						<th>CATEGORIA</th>
						<th>DISPONIBLE</th>
						<th>PRECIO</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="hotel : ${listaHoteles}">
						<td th:text="${hotel.idHotel}"></td>
						<td th:text="${hotel.nombre}"></td>
						<td th:text="${hotel.categoria}"></td>
						<td th:text="${hotel.disponible}"></td>
						<td th:text="${hotel.precio}+ €"></td>
						
					</tr>
				</tbody>
			</table>
		</section>
	</main>
	<footer>
		<ul>
			<li>Web creada para ser el proyecto final del Master Java con
				Isabel A.</li>
			<li>Autor: Alvaro Babarro</li>
			<li>Github: <a href="https://github.com/ErGorry/Master_Java">Master
					JAVA</a></li>
		</ul>
	</footer>
</body>
</html>